<html>
  <head>
    <meta charset="UTF-8">
    <title>微信云托管测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico">
    <link rel="mask-icon" href="/static/logo.ico" color="#4C4C4C">
    <link rel="apple-touch-icon-precomposed" href="/static/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
  <body onselectstart="return false">
    <div class="show">
      <div class="title">欢迎使用微信云托管</div>
      <div class="des">本网站已经被访问<%=time%>次[内网链接]</div>
      <div class="des">访问<a href="">此仓库</a>，亲自试一下</div>
    </div>
  </body>
</html>